/*solids*/
$black:#000;
$white:#fff;
$blue_grey:#5f708a;
$light_blue:#3a689a;
$grey:#919eb1;
$very_dark_grayish_blue:#4f5b71;



/*gradiants*/
$BGB:linear-gradient(to bottom, #000000 0%,#414141 50%,#000000 100%);
