@font-face {
    font-family: special;
    src: url('../../fonts/ROBOTECH\ GP.ttf');
  }

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.font_special{
    font-family: special;
}
.text_shadow{
  text-shadow: 0 03px $black;
}