.footer{
    background: $blue_grey;
    color: $white;
    a{
        color:$white!important;
        &:hover{
            color: lighten($light_blue, 30)!important;
        }
    }
    .link_footer{
        font-size: 1.5rem;
    }
}