.span_package{
    background-image: url('../../img/bg_span_pakage.webp');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.package_efect{
    transition: all .2s linear;
    min-height: 345px;
    border-radius: 10px;
    overflow: hidden;
    &:hover{
        background:$linear_bg_blue;
        color: $white;
        transform: translateY(-5px);
    }
}
.title_package{
    color: $white;
}
.call_to_action_add_more{
    background: darken($very_dark_grayish_blue, 18);
    color:$white;
    font-size: 1.5rem;
    padding: 5vh 0;
    a{
        color: lighten($celeste, 30);
    }

}