.slider {
    min-height: 50vh;
}

.slider1,
.slider2,
.slider3,
.slider_about_us,
.slider_faqs,
.slider_services {
    background-image: url('../../img/slider/slider1.webp');
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
}

.slider2 {
    background-image: url('../../img/slider/slider2.webp');
}

.slider3 {
    background-image: url('../../img/slider/slider3.webp');
}

.title_slider {
    font-family: special;
    color: $white;
    font-size: 2.5rem;
    text-shadow: 0 0 1px $black, 1px 1px 3px $black;
}

.slider_about_us {
    background-image: url('../../img/slide_pages/about_us.webp');
}

.slider_faqs {
    background-image: url('../../img/slide_pages/faqs.webp');
}

.slider_services {
    background-image: url('../../img/slide_pages/services.webp');
}

@media only screen and (max-width: 600px) {

    .slider1 {
        background-image: url('../../img/slider/slider1_movil.webp');
    }

    .slider2 {
        background-image: url('../../img/slider/slider2_movil.webp');
    }

    .slider3 {
        background-image: url('../../img/slider/slider3_movil.webp');
    }

    .slider_about_us {
        background-image: url('../../img/slide_pages/about_us_movil.webp');
    }

    .slider_faqs {
        background-image: url('../../img/slide_pages/faqs_movil.webp');
    }

    .slider_services {
        background-image: url('../../img/slide_pages/services_movil.webp');
    }
}