@import 'colors/colors.scss';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
//bg
.bg_pink{
  background: $pynk;
}
.bg_pink_dark{
  background: $pynk_dark;
}
.m_15{
  min-height: 25vh;
}
.img_effect_big{
  transition: all .5s linear;
  &:hover{
    transform: scale(1.3);
  }
}

//
  
.bg-lines{
  background: $pynk_dark;
}
  .odds-span,.date-hour-span,.odds-spanTeam,.odds-span-box{
      width: 8.5%;
      min-width: 75px;
      float: left;
      padding: 5px 0;
  }
  .odds-spanTeam{
      width: 15%;
  }
  .odds-span-box{
      width: 12.5%;
  }
  .odds-span-box-nascar{
      width: 11.1%;
  }
  .lines{
      &:hover{
          background: darken($pynk, 10);
          color: $white;
      }
  }
  .date-hour-span{
      width: 18%;
      min-width: 150px;
  }
  .odds-list{
      min-width: 1420px;
  }
  .bb1px{
      border-bottom: 1px solid  rgba($pynk, .20) ;
  }
